{% load tailwind_tags %}
{% tailwind_css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title>AtlantisNET | Ping</title>
</head>
<body class="h-screen bg-gradient-to-tr from-gray-700 to-gray-800">
    <div class="mt-0 py-3 text-center text-yellow-500 font-thin text-4xl bg-gray-800">
        <p>KAMERA İZLEME</p>
        <hr class="mt-5 border-slate-400 border-1">
    </div>   
    <div class="flex justify-around mt-0 py-3 text-gray-50 font-thin text-lg bg-gray-800">
        <p>Aktif Masa: <span class="text-xl bg-gray-600 rounded-lg p-1">50</span> </p>
        <p class="text-lg bg-green-500 rounded-lg p-1 px-5">Log</p>
        <p class="text-lg bg-green-500 rounded-lg p-1 px-5">Filtre</p>
        <div class="flex items-center">
            <p class="mx-2 text-lg bg-green-500 rounded-lg p-1 px-5">Fiş</p>
            <input type='checkbox' class="w-7 h-7"/>
        </div>   
        <p>100 Mb: <span class="text-xl bg-red-500 rounded-lg p-1">PC00</span></p>
    </div>
    
    

   

</body>
</html>