{% load tailwind_tags %}
{% tailwind_css %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title>AtlantisNET | Ping</title>
</head>
<body class="h-screen bg-gradient-to-tr from-gray-700 to-gray-800">
    <div class="mt-0 py-3 text-center text-yellow-500 font-thin text-4xl bg-gray-800">
        <p>AtlantisNET</p>
        <hr class="mt-5 border-slate-400 border-1">
    </div>   
    <div class="flex justify-around mt-0 py-3 text-gray-50 font-thin text-lg bg-gray-800">
        <p>Aktif Masa: <span class="text-xl bg-gray-600 rounded-lg p-1">50</span> </p>
        <p class="text-lg bg-green-500 rounded-lg p-1 px-5">Log</p>
        <p class="text-lg bg-green-500 rounded-lg p-1 px-5">Filtre</p>
        <div class="flex items-center">
            <p class="mx-2 text-lg bg-green-500 rounded-lg p-1 px-5">Fiş</p>
            <input type='checkbox' class="w-7 h-7"/>
        </div>   
        <p>100 Mb: <span class="text-xl bg-red-500 rounded-lg p-1">PC00</span></p>
    </div>
    
    

    <div class="mt-10 p-5 border-2 bg-red-400 border-red-600 rounded-lg max-w-[50vh] mx-auto text-center">
        <h1 class="text-center text-lg font-bold text-gray-50 my-5">RIOT GAMES</h1>
        <h1 class="my-3 text-lg font-light ">VALORANT SERVER(IST) : <span class="text-2xl bg-green-300 rounded-lg p-1">{{ response }} ms</span></h1>

        <hr>
        <h1 class="my-3 text-lg font-light">LOL SERVER (IST) : <span class="text-2xl bg-green-300 rounded-lg p-1">{{ response }} ms</span></h1>
    </div>
    <div class="mt-10 p-5 border-2 bg-blue-500 border-blue-600 rounded-lg max-w-[50vh] mx-auto text-center">
        <h1 class="text-center text-lg font-bold text-gray-50 my-5">STEAM</h1>
        <h1 class="my-3 text-lg font-light ">CS:GO SERVER : <span class="text-2xl bg-green-300 rounded-lg p-1">- ms</span></h1>
    </div>
    <div class="mt-10 p-5 border-2 bg-yellow-500 border-yellow-600 rounded-lg max-w-[50vh] mx-auto text-center">
        <h1 class="text-center text-lg font-bold text-gray-50 my-5">ZULA</h1>
        <h1 class="my-3 text-lg font-light ">ZULA SERVER : <span class="text-2xl bg-green-300 rounded-lg p-1">- ms</span></h1>
    </div>

</body>
</html>