 {% extends 'base.html' %}


{% load tailwind_tags %}
{% tailwind_css %}


{% block content %}


  
  
<div class="flex flex-col mt-5 text-sm mx-auto bg-gray-300 border-2"  >

    <div class="mx-auto text-center my-5 bg-blue-600 px-5 py-2 rounded-lg"><h1 class="text-lg font-bold ">PC LİSTESİ</h1></div>
    <div class="mx-auto text-center my-5 bg-green-500 px-5 py-2 rounded-lg">
        <h3 class="text-lg font-bold "><a href="create/pc">EKLE</a></h3>
        <h3 class="text-lg font-bold "><a href="create/pc">Ram Ekle</a></h3>
        <select name="add" id="add">
            <option value="pc">Pc</option>
            <option value="anakart">Anakart</option>
            <option value="cpu">Cpu</option>
            <option value="ram">Ram</option>
          </select>
    </div>
     
    {% for obj in object_list %}
    
    <div class="mx-auto" >
       
        
        <div class="flex justify-items-center   my-1 py-1 bg-green-50 rounded-lg border-2 border-blue-500 "  >   
           
            <div class="flex flex-row justify-around " style="width:700px" >
                <div class="flex justify-start cursor-pointer items-center bg-blue-500 rounded-lg p-1">
                    <h5 class="font-bold"><a href="update/pc/{{ obj.id }}">{{obj.name}}</a></h5>
                </div>
            
    
                    <div class="flex justify-around text-center">
                        <p class="">{{obj.cpu|truncatechars:20}}</p>
                    </div>
                    
                    <div class="flex justify-around text-center">
                        <p class="">{{obj.motherboard|truncatechars:20}}</p>
                    </div>
                    
                    <div class="flex justify-around text-center">
                        <p class="">{{obj.ram|truncatechars:20}}</p>
                    </div>
    
                    <div class="flex justify-around text-center">
                        <p class="">{{obj.gpu|truncatechars:20}}</p>
                    </div>
             
           



              
              
            </div>
       
        </div>
  
    </div>


{% comment %} kjjd {% endcomment %}
    {% endfor %}

</div>
{% endblock content %}