{% load crispy_forms_filters %}
{% load tailwind_filters %}
{% load tailwind_tags %}
{% tailwind_css %}

 {% block content %}

<div class="flex flex-col items-center ">
    <div class="p-3 my-8 rounded-lg bg-red-400">
        <h1>RAM Register</h1>

    </div>
    <div class="flex">
      {% comment %} <h3 class="text-lg">Ram Create</h3> {% endcomment %}
        
      <form method="POST" enctype="multipart/form-data" class="bg-green-300 p-5">   
        {% csrf_token %} {{form|crispy}}
        <br />
        <button type="submit" class="p-3 border-2 rounded-lg">Kaydet</button>
      </form>
    </div>
  </div>

  {% endblock content %}
